In [45]:
import pandas as pd

data = pd.read_csv('persons_recomendation_data.csv')
data.head()

  Person_File_Name              Person Name  Recommendation_Score Recommended
0   100049309.json           Karla Capstick                     2          no
1   100267418.json  Kristoffer W. Mikkelsen                     4          no
2   100447979.json      Satarupa Das, Ph.D.                     8         yes
3  1007048798.json                Kerry Liu                     8         yes
4   100777150.json           Günter Schmidt                     6         yes