In [26]:
import pandas as pd
import os

data = pd.read_csv('persons_recomendation_data1.csv')
data.head()

  Person_File_Name              Person Name  Recommendation
0   100049309.json           Karla Capstick               2
1   100267418.json  Kristoffer W. Mikkelsen               4
2   100447979.json      Satarupa Das, Ph.D.               8
3  1007048798.json                Kerry Liu               8
4   100777150.json           Günter Schmidt               6