In [2]:
import pandas as pd

data = pd.read_csv('persons_recomendation_data.csv')
data.sample(n=10)

,Person_File_Name,Person Name,Recommendation_Score,Recommended
786,675568682.json,Ageane Johnson,2,no
721,593947066.json,Lionel Fabio Bethancourt,0,no
212,175181891.json,Patrick Hau Wing Chan,9,yes
669,536033289.json,Jennifer Skoog,8,yes
343,258123266.json,Patrick Lang,3,no
38,1126176714.json,Engineer Sharjeel Mukhtar,2,no
705,57402612.json,"Dr. Georgios Tserpes B.Sc., M.Sc., Ph.D.",2,no
517,377146764.json,Dikran Sarko,9,yes
729,598130.json,Sandra Canudas Maturana,2,no
814,706747763.json,Wen-Bin Lin,5,no